{% extends 'base.html' %}
{% block title %}Рецензия{% endblock %}
{% block content %}
<h2>Оставить рецензию для книги: {{ book.title }}</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="mb-3">
        {{ form.rating.label(class="form-label") }}
        {{ form.rating(class="form-select") }}
    </div>
    
    <div class="mb-3">
        {{ form.text.label(class="form-label") }}
        {{ form.text(class="form-control", id="mde") }}
    </div>
    
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<script>
    new EasyMDE({ element: document.getElementById("mde") });
</script>
{% endblock %}
